@using Eventos.IO.Domain.Eventos
@using Eventos.IO.Application.VIEWMODELS
@model Eventos.IO.Application.VIEWMODELS.EventoViewModel

@{
    ViewData["Title"] = @Model.Nome;
}

<div class="jumbotron">
    <h2>@ViewData["Title"]</h2>
    <h4>@Model.DescricaoCurta</h4>
</div>

<div class="container">
    <div class="row">
        @Html.DisplayFor(model => Model.DescricaoLonga)
    </div>
    <hr />
    <br />
    <div class="row">
        <b> Quando:</b> <br />
        @Model.DataInicio.ToString("d") até @Model.DataFim.ToString("d")
    </div>
    <br />
    <div class="row">
        <b>Valor:</b> <br />
        @{
            if (Model.Gratuito)
            {
                @Html.DisplayName("Gratuito")
            }
            else
            {
                @Html.DisplayFor(modelItem => Model.Valor)
            }
        }
    </div>
    <br />

    <div class="row">
        <b> Tipo Evento</b> <br />
        @{
            var categoria = new CategoriaViewModel().ListarCategorias().FirstOrDefault(c => c.Id == Model.CategoriaId);
            @Html.Raw(categoria.Nome)
            ;
        }
    </div>
    <br />
    <div class="row">
        <b>Organizado por:</b> <br />
        @Html.DisplayFor(modelItem => Model.NomeEmpresa)
    </div>
    <br />
    <div class="row">
        <b>Onde?</b> <br />
        @{
            if (Model.Online)
            {
                @Html.DisplayName("Evento Online")
            }
            else
            {
                @Model.Endereco.ToString()
                //<iframe width="600" height="450" frameborder="0" style="border:0" src=""&key= allowfullscreen></iframe>
            }
        }
    </div>
</div>

<div>
    <a href="javascript:history.go(-1)" class="btn btn-info">Voltar</a>
</div>






